.headerContainer {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: var(--background_paper);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} */

.links {
  color: var(--text_primary);
  text-decoration: none;
  font-size: 14px;
}
